.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.semi-title {
    color: white;
}

hr {
    width: 85%;
    color: #FFDC00;
}

.paragraph {
    width: 85%;
    text-align: center;
    color: white;
}