@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background: url('./assets/images/bg2.jpg');
    background-size: cover;
    background-position: center bottom;
    font-family: 'Be Vietnam Pro';
}